#navigation {
  visibility: visible;
}

#navigation ul {
  width: 100%;
  margin: 0px; /* for removing white bar above the navigation*/
  padding: 0px; /* This prevent gap on left side of navigation*/ 
  position: fixed; /* This makes the navigation stay on the same position, when scrolling */
  top: 0; 
  background-color: #3C3D3E; 
  list-style-type: none; /* This hides points before list items */ 
  box-shadow: black 0px 3px 10px; /* This makes shadow under navigation */
}

#navigation li {
  float: left;
}

#navigation a {

  text-decoration: none;
  display: block; 
  padding: 1em; /* This makes the navigation looks bigger */
  color: #F7F7F7;

  transition: background-color .7s linear; /* Transition for changing the color of the a element */
}

#navigation a:hover {
  background-color: #002328;
  transition: background-color .7s linear; /* Transition for changing the color of the a element */
}

body {
  padding-top: 50px;
  margin: 0px; /* This makes to prevent white slides on sides */
  margin-right: 5px;
  /* This makes to prevent white slides on sides */
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
}

footer {
  padding: 15px;
  background-color: #3C3D3E;
  border-top: 5px solid #002328;
  color: #F7F7F7;

  margin-top: auto; /* This makes the footer be at the bottom of the page */ 

  flex: 1 100%;
  order: 4;
}

.main {
  font-family: Verdana, sans-serif;
  line-height: 25px;
  text-align: left;

  padding-left: 5px;

  flex: 3 0px;
  order: 2;
}

.main span {
  cursor: pointer;
  font-weight: bold;
  display: block;

  transition: background 1s linear;
}

.main span:hover {
  background: #59A5D8;
  transition: background 1s linear;
}

.aside-1 {
  padding: 10px;
  order: 1;
}

.aside-2 {
  padding: 10px;
  background: hotpink;

  order: 3;
}

.active {
	background-color: #1EA896;
}

.Handle { 
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;

  background-color: #00D8FF;
  color: #3C3D3E;
  
  visibility: hidden;
  display: block;
  width: 100%;

  padding-top: 10.2px;
  padding-bottom: 10.2px;
  text-align: center;
  font-size: 1.0625em;
}

.specialni {
  display: none;
}

.info {
  display: none;
  line-height: 30px;
}

.tip {
  background-color: #a5e5a7;
  border-left: 5px solid #008705;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 14px;
}

.certificate {
  display: block;
  margin: auto;

  border: 1px solid black;
  box-shadow: 2px 3px black;
}