body {
	padding-top: 50px;
	margin: 0px; /* This makes to prevent white slides on sides */
}

h1 {
	font-size: 4vw;
	text-align: center;
}

footer {
	padding: 15px;
	background-color: orange;

	flex: 1 100%;
	order: 4;
}

.main {
  text-align: left;
  background: deepskyblue;

  flex: 3 0px;
  order: 2;
}

.aside-1 {
  padding: 10px;
  background: gold;

  order: 1;
}

.aside-2 {
	padding: 10px;
	background: hotpink;

	order: 3;
}

.navigation ul {
  width: 100%;
  margin: 0px; /* for removing white bar above the navigation*/
  padding: 0px; /* This prevent gap on left side of navigation*/
  position: fixed;
  top: 0;
  background-color: gray;
  list-style-type: none;
}

.navigation li {
  background-color: gray;
  float: left;
}

.navigation a {

  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;

  transition: background-color .7s ease-in-out;  
}

.navigation a:hover {
  background-color: tomato;
  transition: background-color .7s ease-in-out;
}

.active {
	background-color: green;
}
